body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  
  /* Admin panel layout */
  .admin-panel {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    background: #333;
    color: #fff;
    width: 250px;
    padding: 20px;
  }

  .sidebar  h2 {
    margin-bottom: 50px;
  }
  
  .sidebar ul li {
    margin-bottom: 20px;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar ul li.active {
    font-weight: bold;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }

.hidden {
    display: none;
  }


.block {
    margin-top: 10px;
    height: 83%; /* Make the block fill the available height */
    background-color: #f3f3f3;
    border-color: #f3f3f3;
    border-radius: 10px;
}

.validated-form {
  max-height: 65vh; 
  overflow-y: auto; 
}

.scrollable-div{
  max-height: 60vh; 
  overflow-y: auto; 
}
.scrollable-div-topDoc{
  max-height:28vh; 
  overflow-y: auto; 
}

.scrollable-div-20vh{
  max-height:20vh; 
  overflow-y: auto; 
}



