<%- include('./partials/head') %>
<body>
     <main class="admin-panel">
      <%- include('./partials/sidebar') %>
        </div>
         <div class="content">
            <div class="row">
                <div class="col-11">
                  <h1>Welcome, Admin!</h1>
                  <p>This is the admin panel for the patient management system.</p> 
                </div>
                <div class="col-1" > 
                  <button type="button" class="btn btn-danger logoutB"  href="#">LogOut</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button type="button" class="btn btn-primary">Overview</button>
                </div>
                <div class="col-3">
                    <button  id="toggleBtn" type="button" class="btn btn-primary">Appoiment</button>
                </div>
            </div>
             <div class="block ">
                <div id="content" class="hidden" >
                    <h2>Creating Appointment</h2>
                    <br>
                    <form>
                        <div class="form-group">
                           <label for="username">Member ID/ Email/ NIC</label>
                           <input type="text email" class="form-control" id="username" >
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password">
                         <br>
                            <input type="checkbox" id="checkbox"><label style="font-weight: normal; margin-left: 1em;">Keep me signed in</label>
                            <p><a href="#">Forgot Password?</a><p>
                        </div>
                        <br>
                         <button type="submit" class="btn btn-primary">Login</button>
                      </form>
                  </div>
            </div>
         </div>
    </main> 
<script> 
var toggleBtn = document.getElementById('toggleBtn');
var content = document.getElementById('content');

toggleBtn.addEventListener('click', function() {
  if (content.classList.contains('hidden')) {
    content.classList.remove('hidden');
  } else {
    content.classList.add('hidden');
  }
});
</script>
</body>

</html>