<h1>Showing the patient data <%= patient.id%></h1>
<h1>Showing the patient data <%= patient.firstName%></h1>

<form action="">
    <div>
       <label for="selectType">Select Type</label> 
        <select name="" id="selectType">
            <option value="doctor">Doctor</option>
            <option value="Specialization">Specialization</option>
        </select>
    </div>
    <button type="submit">Search</button>
</form>

