<h1>Making new appintment</h1>
    <!-- This form use to search doctors for make an appointments by patient -->
    <form action="\admin\appointment\new" method="post"> 
        <label for="selectType">Select Type</label>
        <select name="selectType" id="selectType" style="display: inline-block;">
          <option value="doctor">Doctors</option>
          <option value="NIC">NIC</option>
          <option value="Email">Email</option>
          <option value="ContactNumber">ContactNumber</option>
          <option value="Specialization">Specialization</option>
        </select>
  
        <input type="text" id="DoctorSearchInput" name="DoctorSearchInput" placeholder="Search Doctor Name (Max 30 Characters)">
        <button id="DoctorSearchBtn">Search</button>
  
      </form>
      <% if(doctor && doctor.length > 0){ %>
        <% for (let d of doctor){%>

          <div>
          <div class="row">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title "><%= d.firstName %> <%= d.lastName %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= d.specialization %></h6>
                <p class="card-text">In here you must show doctors university,degree and doctor licern number</p>
                <a href="/admin/appointment/new/<%=d._id%>" class="btn btn-primary">Create an Apponitment</a>
              </div>
            </div>
          </div>

        <% } %>
      <% }%>
      

<script src="\javascripts\newAppointment.js"></script>