<% layout('layouts/boilerplate') %>
<div class="scroll-container">
  <div class="container mt-5">
    <form action="/login" method="post" novalidate class="validated-form">
      <div class="row">
        <div class="col-md-6  class1">
            <img class="img-fluid rounded-5 img-sq" src="https://images.unsplash.com/photo-1631815587646-b85a1bb027e1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1372&q=80" alt="">
        </div>
        <div class="col-md-6 class2">
          <div>
            <h1><span class="class2div1">Welcome</span></h1>
            <% if (error) { %>
              <div class="alert alert-danger">
                <%= error %>
              </div>
            <% } %>
            <p>Don't have an account? <a href="/patient/register">Register</a></p>
          </div>
          <br>
          <form>
            <div class="form-group">
              <label for="username">Email</label>
              <input type="email" class="form-control" id="username" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
              <br>
              <input type="checkbox" id="checkbox"><label style="font-weight: normal; margin-left: 1em;">Keep me signed in</label>
              <p><a href="#">Forgot Password?</a></p>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>


    