<div class="sidebar">
    <div>
        <h2>Admin Panel</h2>
    </div> 
    <div>
        <ul>
            <li ><a href="/admin">Dashboard</a></li>
            <li><a href="/admin/patient">Patients</a></li>
            <li><a href="/admin/appointment">Appointments</a></li>
            <li><a href="/admin/doctor">Doctors</a></li>
            <li><a href="#">Reports</a></li>
          </ul>
    </div>